.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex-grow: 1;
  width: min(100%, 40rem);

  border-left: 1px solid #444;
  border-right: 1px solid #444;

  overflow: scroll;
  scrollbar-width: 0;
}

.footer {
  width: 100%;

  display: flex;
  padding: 0.5rem 0;
  border-top: 1px solid #444;
  justify-content: center;
  align-items: center;
}

.footer > a {
  font-size: 0.85em;
}

.logo {
  margin-left: 0.2rem;
}

@media (prefers-color-scheme: dark) {
  .logo img {
    filter: invert(1);
  }
}
