.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex-grow: 1;
  width: min(100%, 32rem);
}

.footer {
  display: flex;
  padding: 1rem 0;
  border-top: 1px solid #222;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-left: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .logo img {
    filter: invert(1);
  }
}
