.container {
  width: calc(100% - 2rem);

  padding: 1rem;
}

.body {
  width: 100%;

  overflow: auto;

  font-size: 1.5em;

  border: none;
  background: none;
  outline: none;

  resize: none;
}

.buttons {
  margin-top: 1rem;

  display: flex;
  justify-content: end;
}

.post {
  padding: 0.5rem 1rem;

  font-size: 1em;
  font-weight: bold;

  background-color: rgb(145, 25, 220);
  transition: background-color 0.1s ease;

  border-radius: 2rem;
  border: none;
}

.post:hover {
  background-color: rgb(124, 18, 190);
}

.post:active {
  background-color: rgb(100, 9, 157);
}
